.main-nav__toggle {
  width: 24px;
  height: 16px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-color: transparent;
  border: none;
}

.main-nav__list {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  padding: 10px;
  background-color: @white;
  z-index: 2;
}
